// COLORS
$primary-color: #A57E01;
$secondary-color: #C99E10;
// $primary-color: #02aab0;
// $secondary-color: #00cdac;
$white-color: #FCFAE8;
// $white-color: #fff;
// $white-color: #faf0ca;
$dark-blue-text: #2F4858;
$dark-grey: #4E4637;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;